@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}

footer {
  color: white;
}
footer a {
  color: white;
}

/* texto */
/* Colores */
/* Animacion */
nav div {
  height: 80px;
  background-color: #1f1f20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div .logo {
  margin-left: 20px !important;
  width: 200px;
  transition: all 0.3s ease 0s;
}
nav div .logo:hover {
  transform: scale(1.1);
}
nav div .logo img {
  width: 100%;
  height: 100%;
}
nav div #check {
  display: none;
}
nav div .nav-bars {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
nav div ul li {
  display: inline-block;
  padding: 0 20px !important;
  transition: all 0.3s ease 0s;
  color: white !important;
}
nav div ul li a {
  color: white;
}
nav div ul li:hover {
  transform: scale(1.3);
}
nav div ul li:hover a {
  color: white;
}

header, header div {
  height: auto;
  width: 100%;
}
header div div {
  position: relative;
}
header div div .img-btn-aqua {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #092b5a;
  transform: translate(-50%, -50%);
  transform: translateY();
  opacity: 0.6;
}
header div div img {
  width: 100%;
}
header div div .contenedor-text {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Exo";
}
header div div .contenedor-text .titulo h1 {
  font-size: 2.7rem;
  font-weight: 600;
}
header div div .contenedor-text .titulo p {
  font-size: 0.8rem;
}
header div div .contenedor-text .enlace ul li {
  display: inline-block;
  width: 15%;
}
header div div .contenedor-text .enlace ul li a {
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

footer {
  width: 100%;
  background-color: #1f1f20;
  padding-bottom: 10px !important;
}
footer .pie {
  margin: 0 5% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .pie section {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .pie section .enlaces {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px !important;
}
footer .pie section .enlaces li {
  width: 50px;
  height: 50px;
}
footer .pie section .enlaces li a {
  display: block;
  height: 100%;
  border: 0.5px solid white;
  border-radius: 20px !important;
  transition: all 0.3s ease 0s;
}
footer .pie section .enlaces li a div {
  width: 100%;
  height: 100%;
}
footer .pie section .enlaces li:hover {
  color: white;
  transform: rotate(23deg);
}
footer .pie .direccion h2 {
  margin-bottom: 5% !important;
}
footer .pie h2 {
  font-family: "Exo";
  font-weight: 600;
}

/* texto */
/* Colores */
/* Animacion */
.text {
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Index.HTML */
.informacion {
  margin: 20px 10% !important;
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "info-1 info-2" "info-3 info-4" "enlace enlace";
}

.enlace-info-2 {
  grid-area: enlace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enlace-info-2 .contenedor-enlace {
  margin-bottom: 40px !important;
  width: 200px;
  height: 50px;
  text-align: center;
  border: 2px solid #092b5a;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.enlace-info-2 .contenedor-enlace a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}
.enlace-info-2 .contenedor-enlace:hover {
  transform: scale(1.1);
}

.nosotros {
  margin: 20px 10% !important;
}
.nosotros section .nosotros-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5% !important;
}
.nosotros section .nosotros-titulo h2 {
  font-size: 2.7rem;
  font-family: "Exo";
  font-weight: 600;
}
.nosotros section .nosotros-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nosotros section .nosotros-img img {
  object-fit: contain;
  width: 50%;
  height: 50%;
}

.contenedor-contacto {
  width: 100%;
  margin: 20px 0 !important;
}
.contenedor-contacto .contacto {
  margin: 0 10% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2% !important;
}
.contenedor-contacto .contacto .map {
  width: 100% !important;
}
.contenedor-contacto .contacto .formulario {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: center;
}
.contenedor-contacto .contacto .formulario .nombre, .contenedor-contacto .contacto .formulario .email, .contenedor-contacto .contacto .formulario .telefono, .contenedor-contacto .contacto .formulario .boton {
  width: 100%;
  min-height: 30px;
}
.contenedor-contacto .contacto .formulario .consulta {
  width: 100%;
  min-height: 150px;
}

/* Servicio.HTML */
.main-servicio {
  margin: 20px 0 !important;
}
.main-servicio .contenedor-servicio {
  margin: 0 5% !important;
}
.main-servicio .contenedor-servicio h2 {
  color: #092b5a;
  font-family: "Exo";
  font-weight: 600;
  opacity: 0.8;
}
.main-servicio .contenedor-servicio p {
  font-size: 1.1rem;
}

/* CONTANCTO.HTML */
.contenedor-contact {
  margin: 20px 0 !important;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5% !important;
}
.contenedor-contact-info {
  width: 100%;
}
.contenedor-contact-info-titulo {
  margin-bottom: 20px !important;
}
.contenedor-contact-info-titulo h2 {
  color: #092b5a;
  font-family: "Exo";
  font-weight: 600;
  opacity: 0.8;
}
.contenedor-contact-info-direccion {
  margin-top: 20px !important;
  font-size: 1.1rem;
  font-weight: 600;
}
.contenedor-contact-form {
  width: 100%;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
.contenedor-contact-form .nombre, .contenedor-contact-form .email, .contenedor-contact-form .telefono {
  min-height: 40px;
}
.contenedor-contact-form .consulta {
  min-height: 300px;
}

/* Preguntas.HTML */
.preguntas {
  display: block;
}

.accordion-item {
  margin: 20px 0 !important;
}
.accordion-item h2 button {
  padding: 20px !important;
}
.accordion-item h2 button span {
  margin-left: 2% !important;
  font-size: 1.3rem;
  font-weight: bold;
}
.accordion-item .accordion-collapse .accordion-body {
  margin: 2% !important;
}
.accordion-item .accordion-collapse .accordion-body ul {
  margin-left: 5% !important;
}
.accordion-item .accordion-collapse .accordion-body ul li {
  list-style: disc !important;
}

/* Tienda.HTML */
.tienda {
  width: 100% !important;
}
.tienda .cont-tienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px 5% !important;
  gap: 20px;
}
.tienda .cont-tienda-articulo {
  width: 250px;
}
.tienda .cont-tienda-articulo-img {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.tienda .cont-tienda-articulo-img img {
  height: 100%;
}
.tienda .cont-tienda-articulo-text strong {
  font-family: "Exo";
}
.tienda .cont-tienda-articulo-text h5 {
  color: green;
}

/* GRID de informacion */
.info-1 {
  grid-area: info-1;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.info-2 {
  grid-area: info-2;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.info-3 {
  grid-area: info-3;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.info-4 {
  grid-area: info-4;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

/* Area de GRID informacion */
.img-1 {
  grid-area: img;
}
.img-1 img {
  width: 100%;
  height: 100%;
}

.titulo-1 {
  grid-area: titulo;
  margin: auto 0 !important;
  font-family: "Exo";
  font-weight: 600;
}

.parrafo-1 {
  grid-area: parrafo;
}

.img-2 {
  grid-area: img;
}
.img-2 img {
  width: 100%;
  height: 100%;
}

.titulo-2 {
  grid-area: titulo;
  margin: auto 0 !important;
  font-family: "Exo";
  font-weight: 600;
}

.parrafo-2 {
  grid-area: parrafo;
}

.img-3 {
  grid-area: img;
}
.img-3 img {
  width: 100%;
  height: 100%;
}

.titulo-3 {
  grid-area: titulo;
  margin: auto 0 !important;
  font-family: "Exo";
  font-weight: 600;
}

.parrafo-3 {
  grid-area: parrafo;
}

.img-4 {
  grid-area: img;
}
.img-4 img {
  width: 100%;
  height: 100%;
}

.titulo-4 {
  grid-area: titulo;
  margin: auto 0 !important;
  font-family: "Exo";
  font-weight: 600;
}

.parrafo-4 {
  grid-area: parrafo;
}

/* Nosotros margen */
.nosotros-text-1 {
  margin-bottom: 10% !important;
}
.nosotros-text-1 h2 {
  font-family: "Exo";
  font-weight: 600;
}

.nosotros-text-2 {
  margin-bottom: 10% !important;
}
.nosotros-text-2 h2 {
  font-family: "Exo";
  font-weight: 600;
}

.nosotros-text-3 {
  margin-bottom: 10% !important;
}
.nosotros-text-3 h2 {
  font-family: "Exo";
  font-weight: 600;
}

/* Footer Contenedor de enlaces */
.contenedor-enlace-1 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}

.contenedor-enlace-2 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}

.contenedor-enlace-3 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}

.contenedor-enlace-4 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}

/* Media queries */
@media (max-width: 425px) {
  .contenedor-enlace-1 {
    display: inline-flex;
    margin-bottom: 10px !important;
    align-items: center;
    justify-content: center;
  }
  .contenedor-enlace-2 {
    display: inline-flex;
    margin-bottom: 10px !important;
    align-items: center;
    justify-content: center;
  }
  .contenedor-enlace-3 {
    display: inline-flex;
    margin-bottom: 10px !important;
    align-items: center;
    justify-content: center;
  }
  .contenedor-enlace-4 {
    display: inline-flex;
    margin-bottom: 10px !important;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
  }
  nav div .logo {
    margin-left: 20px !important;
    width: 200px;
    transition: none;
  }
  nav div .logo:hover {
    transform: none;
  }
  nav div .nav-bars {
    color: white;
    margin-right: 20px !important;
    background: none;
    border: none;
    font-size: 30px;
    display: block;
  }
  nav div #check:checked ~ ul {
    left: 0;
  }
  nav div ul {
    position: fixed;
    top: 80px;
    height: calc(100vh - 80px);
    width: 100%;
    background-color: rgb(3, 82, 82);
    transition: all 0.5s;
    left: 100%;
  }
  nav div ul li {
    display: flex;
    margin: 20px 0 !important;
    flex-direction: column;
    align-items: center;
    padding: auto !important;
    transition: none;
  }
  nav div ul li:hover {
    transform: none;
  }
  header, header div {
    top: 80px;
  }
  .contenedor-text {
    top: calc(50% - 80px) !important;
  }
  main, .main-servicio {
    margin-top: 90px !important;
  }
  .informacion {
    display: grid;
    gap: 3%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "info-1" "info-2" "info-3" "info-4" "enlace";
  }
  .enlace-info-2 .contenedor-enlace {
    transition: none;
  }
  .enlace-info-2 .contenedor-enlace:hover {
    transform: none;
  }
  .contenedor-contacto .contacto {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px !important;
  }
}
@media (max-width: 590px) {
  .contenedor-contact {
    flex-direction: column; /*  */
    gap: 30px !important; /*  */
  }
  .enlace {
    display: none;
  }
  .tienda .cont-tienda {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 425px) {
  footer {
    width: 100%;
  }
  footer .pie {
    flex-direction: column;
    align-items: center;
  }
  footer .pie .contacto-enlace ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .pie .link {
    margin: 10px 0 !important;
    width: 100%;
  }
  footer .pie .link ul {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
  }
  .titulo h1 {
    font-size: 2rem !important;
  }
  .titulo p {
    font-size: 0.6rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
