*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* Bootstrap Correciones */

.padding-margin-none{
    padding: 0;
    margin: 0;
}

.decoration-none{
    text-decoration: none;
    color: white;
    list-style: none;
}

.display-inline-block{
    display: inline-block;
}

.text-center{
    text-align: center;
}

.text-style-tittle{
    color: #80dce0;
    text-decoration: underline;
}

.text-style-contact{
    color: rgb(187, 187, 187);
    text-decoration: underline;
}

.text{
    color: white;
}

.background-black{
    background-color: black;
}

.prueba{
    display: inline-block;
}

.img{
    height: 30px;
}

.contenedor-img{
    width: auto;
    height: 30px;
    padding: 0;
    background-color: aqua;
    text-align: center;
    margin: auto;
}

/* Contenedor */

header{
    box-sizing: border-box;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://884e910d64.clvaw-cdnwnd.com/c9bf1596b060169a98f1c40490d409e7/200000189-8f10f8f111/Reparaciones-De-Computadoras.jpeg?ph=884e910d64);
    background-color: #80dce0;
    object-fit: cover
}

nav ul{
    height: 50px
}

nav ul li{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px white solid;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* Presentacion */

header{
    border: 2px solid black;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://884e910d64.clvaw-cdnwnd.com/c9bf1596b060169a98f1c40490d409e7/200000189-8f10f8f111/Reparaciones-De-Computadoras.jpeg?ph=884e910d64);
}

/* Navegacion */

nav ul{
    height: 50px;
    background-color: black;
    display: grid;
    grid-column: 1fr 1fr 1fr;

    grid-template-areas: 
    "enlace-1 enlace-2 enlace-3"
    ;
}

nav ul .enlace-1{
    border: 1px solid white;
    grid-area: enlace-1;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul .enlace-1 a{
    height: 25px;
    width: 100px;
    text-align: center;;
}
nav ul .enlace-1 a:hover{
    background-color: rgb(167, 167, 167);
}

nav ul .enlace-2{
    border: 1px solid white;
    grid-area: enlace-2;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul .enlace-2 a{
    height: 25px;
    width: 100px;
    text-align: center;
}
nav ul .enlace-2 a:hover{
    background-color: rgb(167, 167, 167);
}

nav ul .enlace-3{
    border: 1px solid white;
    grid-area: enlace-3;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul .enlace-3 a{
    height: 25px;
    width: 100px;
    text-align: center;
}
nav ul .enlace-3 a:hover{
    background-color: rgb(167, 167, 167);
}



/* Grid Informacion */

.informacion{
    display: grid;
    width: 90vh;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "info-1 info-2"
    "info-3 info-4"
    ;
}

/* Info 1 */

.info-1{
    grid-area: info-1;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:  
    "img-1 titulo-1"
    "parrafo-1 parrafo-1"
    ;
}
.informacion .info-1 .img-1{
    grid-area: img-1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.informacion .info-1 h2{
    grid-area: titulo-1;
}
.informacion .info-1 p{
    grid-area: parrafo-1;
}

/* Info 2 */

.info-2{
    grid-area: info-2;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:  
    "img-2 titulo-2"
    "parrafo-2 parrafo-2"
    ;
}
.informacion .info-2 .img-2{
    grid-area: img-2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.informacion .info-2 h2{
    grid-area: titulo-2;
}
.informacion .info-2 p{
    grid-area: parrafo-2;
}

/* Info 3 */

.info-3{
    grid-area: info-3;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:  
    "img-3 titulo-3"
    "parrafo-3 parrafo-3"
    ;
}
.informacion .info-3 .img-3{
    grid-area: img-3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.informacion .info-3 .img-3 img{
    height: 50px;
}
.informacion .info-3 h2{
    grid-area: titulo-3;
}
.informacion .info-3 p{
    grid-area: parrafo-3;
}

/* Info-4 */

.info-4{
    grid-area: info-4;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:  
    "img-4 titulo-4"
    "parrafo-4 parrafo-4"
    ;
}
.informacion .info-4 .img-4{
    grid-area: img-4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.informacion .info-4 .img-4 img{
    height: 50px;
}
.informacion .info-4 h2{
    grid-area: titulo-4;
}
.informacion .info-4 p{
    grid-area: parrafo-4;
}

/* Enlace info */

.enlace{
    width: 100%;
    margin-bottom: 20px;
    background-color: black;
}

.enlace div{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlace div a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border: white solid;
    border-radius: 15px
}


/* Grid Nosotros */

.nosotros{
    display: grid;
    width: 90vh;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 100px 100px;

    grid-template-areas: 
    "titulo titulo"
    "nosotros-image nosotros-1"
    "nosotros-image nosotros-2"
    "nosotros-image nosotros-3"
    ;
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: titulo;
}

.nosotros-image{
    grid-area: nosotros-image;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotros-1{
    grid-area: nosotros-1;
}
.nosotros-2{
    grid-area: nosotros-2;
}
.nosotros-3{
    grid-area: nosotros-3;
}

/* Grid Contacto */

.contacto{
    display: grid;
    width: 90vh;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    "contacto-map contacto-info"
    ;
}

.contacto-map{
    grid-area: contacto-map;
    display: flex;
    justify-content: center;
    margin-bottom:
}
.contacto-info{
    grid-area: contacto-info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    row-gap: 20px;
}
input{
    width: 80%;
}
.nombre, .email, .telefono{
    height: 30px
}
.consulta{
    height: 90px;
}

