@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}

footer {
  color: white;
}
footer a {
  color: white;
}

.text {
  color: white;
}

nav div {
  background-color: #1f1f20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div .logo {
  margin-left: 20px !important;
  width: 200px;
  transition: all 0.3s ease 0s;
}
nav div .logo:hover {
  transform: scale(1.1);
}
nav div .logo img {
  width: 100%;
  height: 100%;
}
nav div ul li {
  display: inline-block;
  padding: 0 20px !important;
  transition: all 0.3s ease 0s;
  color: white !important;
}
nav div ul li a {
  color: white;
}
nav div ul li:hover {
  transform: scale(1.3);
}
nav div ul li:hover a {
  color: white;
}

header, header div {
  height: auto;
  width: 100%;
}
header div div {
  position: relative;
  object-fit: cover;
}
header div div .img-btn-aqua {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: #092b5a;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}
header div div img {
  width: 100%;
}
header div div .contenedor-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
}
header div div .contenedor-text .titulo h1 {
  font-size: 2.7rem;
}
header div div .contenedor-text .titulo p {
  font-size: 0.8rem;
}
header div div .contenedor-text .enlace ul li {
  display: inline-block;
  width: 15%;
}
header div div .contenedor-text .enlace ul li a {
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informacion {
  margin: 20px 10% !important;
  display: grid;
  gap: 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "info-1 info-2" "info-3 info-4" "enlace enlace";
}

.enlace-info-2 {
  grid-area: enlace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enlace-info-2 .contenedor-enlace {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 2px solid #092b5a;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.enlace-info-2 .contenedor-enlace a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}
.enlace-info-2 .contenedor-enlace:hover {
  transform: scale(1.1);
}

.nosotros {
  margin: 20px 10% !important;
}
.nosotros section .nosotros-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5% !important;
}
.nosotros section .nosotros-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nosotros section .nosotros-img img {
  width: 40%;
  height: 40%;
}

.contenedor-contacto {
  width: 100%;
}
.contenedor-contacto .contacto {
  margin: 20px 10% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor-contacto .contacto .map {
  width: 50% !important;
}
.contenedor-contacto .contacto .formulario {
  background-color: red;
  width: 50%;
}
.contenedor-contacto .contacto .formulario form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  background-color: #1f1f20;
}
footer .pie {
  margin: 0 5% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-1 img {
  width: 100%;
  height: 100%;
}

.img-2 img {
  width: 100%;
  height: 100%;
}

.img-3 img {
  width: 100%;
  height: 100%;
}

.img-4 img {
  width: 100%;
  height: 100%;
}

.info-1 {
  grid: info-1;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.info-2 {
  grid: info-2;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.info-3 {
  grid: info-3;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.info-4 {
  grid: info-4;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 100px 6fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "img titulo" "parrafo parrafo";
}

.img-1 {
  grid-area: img;
}
.img-1 img {
  width: 100%;
  height: 100%;
}

.titulo-1 {
  grid-area: titulo;
  margin: auto 0 !important;
}

.parrafo-1 {
  grid-area: parrafo;
}

.img-2 {
  grid-area: img;
}
.img-2 img {
  width: 100%;
  height: 100%;
}

.titulo-2 {
  grid-area: titulo;
  margin: auto 0 !important;
}

.parrafo-2 {
  grid-area: parrafo;
}

.img-3 {
  grid-area: img;
}
.img-3 img {
  width: 100%;
  height: 100%;
}

.titulo-3 {
  grid-area: titulo;
  margin: auto 0 !important;
}

.parrafo-3 {
  grid-area: parrafo;
}

.img-4 {
  grid-area: img;
}
.img-4 img {
  width: 100%;
  height: 100%;
}

.titulo-4 {
  grid-area: titulo;
  margin: auto 0 !important;
}

.parrafo-4 {
  grid-area: parrafo;
}

.nosotros-text-1 {
  margin-bottom: 10% !important;
}

.nosotros-text-2 {
  margin-bottom: 10% !important;
}

.nosotros-text-3 {
  margin-bottom: 10% !important;
}

.contenedor-enlace-1 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}
.contenedor-enlace-1 div {
  height: 30px;
}
.contenedor-enlace-1 div img {
  height: 100%;
  width: 100%;
}

.contenedor-enlace-2 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}
.contenedor-enlace-2 div {
  height: 30px;
}
.contenedor-enlace-2 div img {
  height: 100%;
  width: 100%;
}

.contenedor-enlace-3 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}
.contenedor-enlace-3 div {
  height: 30px;
}
.contenedor-enlace-3 div img {
  height: 100%;
  width: 100%;
}

.contenedor-enlace-4 {
  display: inline-flex;
  margin-bottom: 10px !important;
  align-items: center;
  justify-content: center;
}
.contenedor-enlace-4 div {
  height: 30px;
}
.contenedor-enlace-4 div img {
  height: 100%;
  width: 100%;
}

.pregunta-1 {
  width: 100%;
  display: block;
}

.pregunta-2 {
  width: 100%;
  display: block;
}

.pregunta-3 {
  width: 100%;
  display: block;
}

.pregunta-4 {
  width: 100%;
  display: block;
}

.pregunta-5 {
  width: 100%;
  display: block;
}

.contenedor-preguntas {
  margin: 20px 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px !important;
}
.medio_de_pago .contenedor_pago {
  margin: 20px !important;
}

/*# sourceMappingURL=style.css.map */
