@import "partials/reset";
@import "partials/general";
@import "partials/mixin";
@import "partials/variables";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');


.text{
    color: $color-text;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Index.HTML */

.informacion{
    margin: 20px 10% !important;
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "info-1 info-2"
    "info-3 info-4"
    "enlace enlace"
    ;
}

.enlace-info-2{
    grid-area: enlace;
    display: flex;
    align-items: center;
    justify-content: center;
    .contenedor-enlace{
        margin-bottom: 40px !important;
        width: 200px;
        height: 50px;
        text-align: center;
        border: 2px solid #092b5a;
        border-radius: 10px;
        transition: $animacion-nav-bar;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: black;
            
        }
        &:hover{
            transform: scale(1.1);
       }
    }
}

.nosotros{
    margin: 20px 10% !important;
    section{
        .nosotros-titulo{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5% !important;
            
            h2{
                font-size: $big-text;
                font-family: $text-style;
                font-weight: $text-weight;
            }
        }
        .nosotros-img{
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
                object-fit: contain;
                width: 50%;
                height: 50%;
            }
        }
    }
}

.contenedor-contacto{
    width: 100%;
    margin: 20px 0 !important;

    .contacto{
        margin: 0 10% !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2% !important;

        .map{
            width: 100% !important;
        }

        .formulario{
            width: 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between !important;
            align-items: center;

            .nombre, .email, .telefono, .boton{
                width: 100%;
                min-height: 30px;
            }
            .consulta{
                width: 100%;
                min-height: 150px;
            }
        }
    }
}

/* Servicio.HTML */

.main-servicio{
    margin: 20px 0 !important;

    .contenedor-servicio{
        margin: 0 5% !important;

        h2{
            color: $color-font;
            font-family: $text-style;
            font-weight: $text-weight;
            opacity: .8;
        }

        p{
            font-size: $text-parrafo-medium;
        }
    }
}

/* CONTANCTO.HTML */

.contenedor-contact{

    margin: 20px 0 !important;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5% !important;

    &-info{
        width: 100%;
        &-titulo{
            margin-bottom: 20px !important;
            
            h2{
                color: $color-font;
                font-family: $text-style;
                font-weight: $text-weight;
                opacity: .8;
            }
        }
        &-direccion{
            margin-top: 20px !important;
            font-size: 1.1rem;
            font-weight: $text-weight;
        }
    }

    &-form{
        width: 100%;
        min-height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
        .nombre, .email, .telefono{
            min-height: 40px;
        }
        .consulta{
            min-height: 300px;
        }
        
    }
}

/* Preguntas.HTML */

.preguntas{
    display: block;
}

.accordion-item{
    margin: 20px 0 !important;
    h2{
        button{
            padding: 20px !important;

            span{
                margin-left: 2% !important;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
    .accordion-collapse{
        .accordion-body{
            margin: 2% !important;
            
            ul{
                margin-left: 5% !important;
                li{
                    list-style:disc !important;
                }
            }
        }
    }
}

/* Tienda.HTML */

.tienda{
    width: 100% !important;

    .cont-tienda{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 20px 5% !important;
        gap: 20px;

        &-articulo{
            width: 250px ;

            &-img{
                display: flex;
                width: 100%;
                height: 200px;
                justify-content: center;
                align-items: center;

                img{
                    height: 100%;
                }
            }

            &-text{

                strong{
                    font-family: 'Exo';
                }

                h5{
                    color: green;
                }
            }
        }

    }
}

@import "partials/bucles";
@import "partials/queries";
