*{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
}

footer{
    color: white;
    a{
        color: white;
    }
}