
/* texto */

$big-text: 2.7rem;
$text-parrafo: .8rem;
$text-parrafo-medium : 1.1rem;
$text-style: 'Exo';
$text-weight: 600;

/* Colores */

$color-font: #092b5a;
$color-text: white;

/* Animacion */

$animacion-nav-bar: all 0.3s ease 0s;
